img.search-image {
    width: 200px;
    height: 150px; /* 各自必要なサイズに変更してください */
  }
  
  .header-container {
    margin-bottom: 20px; /* ヘッダー下部の余白を設定 */
  }
  
  nav {
    background-color: #1c1d3b;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px; 
  }
  
  nav .title {
    font-size: x-large;
    display: flex;
    align-items: center;
  }
  
  nav a {
    color: white;
  }
  
  nav a:hover {
    color: white;
    text-decoration: none;
  }
  
  nav .mypage-btn-container img {
    max-width: 50px;
    margin-right: 4px;
  }
  
  .first-view {
    color: white;
    padding: 100px 0;
    background-image: url('cover-lg.jpeg');
  }
  
  
  .first-view .catchcopy {
    font-size: 70px;
    text-align: center;
  }
  
  .first-view .search-form-container {
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .first-view .search-form-container .search-form {
    display: flex;
    flex-direction: column;
    opacity: unset;
  }
  
  .first-view .search-form-container .search-form input[type='text'] {
    padding: 14px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
  }
  
  .first-view .search-form-container .search-form input[type='text']:focus {
    outline: 0;
  }
  
  .first-view .search-form-container .search-form input[type='submit'] {
    padding: 13px;
    border: 0;
    border-radius: 7px;
    background-color: #ff7757;
    color: white;
  }
  
  .recommended-area {
    margin: 0 20px;
  }
  
  .recommended-area .recommended-area-title {
    margin: 150px 0;
    border-bottom: 3px solid #ff7757;
    display: inline-block;
    padding-bottom: 18px;
  }
  
  .recommended-area .recommended-area-contents img {
    width: 24%
  }
  
  footer {
    background-color: #1c1d3b;
    color: white;
    padding-top: 200px;
    padding-bottom: 150px;
    padding-left: 20px;
    margin-top: 150px;
  }
  
  footer .footer-main {
    font-size: 60px;
  }
