// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.login-field {
    margin-left: 45%;
}

.registrations-new-field {
    margin-left: 25%;
}

.users-account-field {
    margin-left: 40%;
}

.users-profile-field {
    margin-left: 40%;
}

.users-edit-field {
    margin-left: 30%;
}

.users-account-edit-field {
    margin-left: 40%;
}
